$color-primary: #ffaf74;
$color-primary-darken: #f46f10;
$color-primary-darkest: #8e4818;
$color-secondary: #2d263b;
$color-secondary-muted: #473231;
$color-terciary: #ff4a4b;
$color-lightest: #ffffff;
$color-cool-gray: #d7dbdf;
$color-light-gray: #f0efed;
$color-text-primary: #1d1b23;
$color-text-gray: #7f7192;
$color-text-light-gray: #abaac6;
$color-success: #3fa46d;

:root {
  --color-primary: #{$color-primary};
  --color-primary-darken: #{$color-primary-darken};
  --color-primary-darkest: #{$color-primary-darkest};
  --color-secondary: #{$color-secondary};
  --color-secondary-muted: #{$color-secondary-muted};
  --color-terciary: #{$color-terciary};
  --color-lightest: #{$color-lightest};
  --color-cool-gray: #{$color-cool-gray};
  --color-light-gray: #{$color-light-gray};
  --color-text-primary: #{$color-text-primary};
  --color-text-gray: #{$color-text-gray};
  --color-text-light-gray: #{$color-text-light-gray};
  --color-success: #{$color-success};

  --font-size-min: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-normal: 1rem;
  --font-size-medium: 1.3rem;
  --font-size-large: 2rem;
  --font-size-xlarge: 3rem;

  --letter-spacing-smallcaps: 0.05em;

  --space-50: 0.25rem;
  --space-100: 0.5rem;
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;
  --space-600: 3rem;
  --space-700: 3.5rem;
  --space-800: 4rem;
  --space-900: 4.5rem;
  --space-lg-100: 5rem;
  --space-lg-200: 6rem;
  --space-lg-300: 7rem;
  --space-lg-400: 8rem;
}

// Bootstrap customization
$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "info": #efefef,
  "success": $color-success,
  "danger": $color-terciary,
  "light": $color-light-gray,
);

$h1-font-size: 3rem;
$headings-font-weight: 100;

$table-hover-bg: $color-light-gray;
$table-border-color: $color-cool-gray;
$badge-pill-padding-x: 0.75em;

$btn-border-radius: 5rem!default;
$btn-border-radius-lg: 5rem!default;
$btn-border-radius-sm: 5rem!default;
$input-btn-padding-x: 1.5rem !default;
$input-padding-x: .75rem !default;


/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";
