$color-primary: #ffaf74;
$color-primary-darken: #f46f10;
$color-secondary: #2d263b;
$color-secondary-muted: #473231;
$color-terciary: #ff4a4b;
$color-lightest: #ffffff;
$color-cool-gray: #d7dbdf;
$color-light-gray: #f0efed;
$color-text-primary: #1d1b23;
$color-text-gray: #7f7192;
$color-text-light-gray: #abaac6;

:root {
  --color-primary: #{$color-primary};
  --color-primary-darken: #{$color-primary-darken};
  --color-secondary: #{$color-secondary};
  --color-secondary-muted: #{$color-secondary-muted};
  --color-terciary: #{$color-terciary};
  --color-lightest: #{$color-lightest};
  --color-cool-gray: #{$color-cool-gray};
  --color-light-gray: #{$color-light-gray};
  --color-text-primary: #{$color-text-primary};
  --color-text-gray: #{$color-text-gray};
  --color-text-light-gray: #{$color-text-light-gray};

  --font-size-min: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-normal: 1rem;
  --font-size-medium: 1.5rem;
  --letter-spacing-smallcaps: 0.03em;

  --space-50: 0.25rem;
  --space-100: 0.5rem;
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;
  --space-600: 3rem;
  --space-700: 3.5rem;
  --space-800: 4rem;
}

// Bootstrap customization
$theme-colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "info": #efefef,
);

$h1-font-size: 3rem;
$headings-font-weight: 100;

$table-hover-bg: $color-light-gray;
$table-border-color: $color-cool-gray;
$badge-pill-padding-x: 0.75em;

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";
